
@{
    ViewBag.Title = "SampleOne";

}

<h2>Sample #1</h2>
<h3>Page Load Time:  @ViewBag.PageLoadTime</h3>

<h4>Site 1 Results</h4>
<div class="site-results">
    URL: @ViewBag.Site1.URL  <br/>
    OK: @ViewBag.Site1.OK  <br />
    LOAD TIME: @ViewBag.Site1.LoadTime  <br />
</div>
<hr/>
<h4>Site 2 Results</h4>
<div class="site-results">
    URL: @ViewBag.Site2.URL  <br />
    OK: @ViewBag.Site2.OK  <br />
    LOAD TIME: @ViewBag.Site2.LoadTime  <br />
</div>
<hr />
<h4>Site 3 Results</h4>
<div class="site-results">
    URL: @ViewBag.Site3.URL  <br />
    OK: @ViewBag.Site3.OK  <br />
    LOAD TIME: @ViewBag.Site3.LoadTime  <br />
</div>
<hr />
<h4>Site 4 Results</h4>
<div class="site-results">
    URL: @ViewBag.Site4.URL  <br />
    OK: @ViewBag.Site4.OK  <br />
    LOAD TIME: @ViewBag.Site4.LoadTime  <br />
</div>
<hr />
<h4>Site 5 Results</h4>
<div class="site-results">
    URL: @ViewBag.Site5.URL  <br />
    OK: @ViewBag.Site5.OK  <br />
    LOAD TIME: @ViewBag.Site5.LoadTime  <br />
</div>
<hr />
<h4>Site 6 Results</h4>
<div class="site-results">
    URL: @ViewBag.Site6.URL  <br />
    OK: @ViewBag.Site6.OK  <br />
    LOAD TIME: @ViewBag.Site6.LoadTime  <br />
</div>
<hr />
